<% layout("/layouts/boilerplate") %>
<style>
  .tax-toggle{
        border: 1px solid black;
        border-radius: 1rem;
        height: 3.5rem;
        padding: 1rem;
        /* margin-left: 9rem; */
        width: 250px !important;
        margin-right: 2rem !important;
      }
     #filters{
      margin-top: 1rem !important;
      padding-bottom: 1rem !important;
      display: flex;
      justify-content: space-between;
     }
     @media only screen and (max-width: 1880px) {
      .filter h1{
        font-size: 35px;
        margin-left: 20px !important;
        padding-left: 0px !important;
      }
      #filters{
      margin-top: 1rem !important;
      padding-bottom: 1rem !important;
      display: flex;
      flex-direction: row;
      margin-left: 0px !important;
      margin-right: 5rem !important;
     }
     }
     @media only screen and (max-width: 680px) {
      #filters{
      display: flex;
      gap: 5px;
      flex-direction: column;
      margin-left: 4rem !important;
     }
     }
</style>
<body>
  <div id="filters">
    <div class="filter">
    <h1>All Listings</h1>
    </div>
    <div class="tax-toggle">
      <div class="form-check-reverse form-switch">
        <input class="form-check-input input-lg" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Display Total After Taxes</label>
      </div>
    </div>
  </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
        <% for(let listing of allListings){ %>
            <div class="card listing-card" style="width: 30rem;">
              <a href="/listings/<%= listing._id %>" class="listing-link">
                <img src="<%= listing.image.url %>" class="card-img-top" height="500rem" alt="Listing_img">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                  <p class="card-text">
                    <b><%= listing.title %></b> <br>
                    &#8377;<%= listing.price.toLocaleString("en-IN") %>/night
                    <i class="tax-info">&nbsp;&nbsp; +18% GST</i>
                  </p>
                </div>
              </a>
              </div>
              <% } %>
    </div>
</body>
<script>
  let taxSwitch=document.getElementById("flexSwitchCheckDefault")
  taxSwitch.addEventListener("click",()=>{
    let taxInfo=document.getElementsByClassName("tax-info")
    for(info of taxInfo){
      if( info.style.display  !="inline"){
      info.style.display="inline"
      }
      else{
         info.style.display="none"
      }
    }
  })
</script>
