<% layout("/layouts/boilerplate") %>
<div class="row new-row">
<div class="col-6 offset-3">
<body>
    <h2>Create a new Listing</h2>
     <form method="post" action="/listings" class="needs-validation" enctype="multipart/form-data"  novalidate>
     <div class="mb-3">
       <label for="title" class="form-label">Title</label>
        <input type="text" name="listing[title]" class="form-control" required>
        <div class="valid-feedback">Title looks good!</div>
     </div>
     <Div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" type="text" name="listing[description]" required></textarea>
        <div class="invalid-feedback">Please enter a short description</div>
     </Div>
     <div class="mb-3">
      <label for="image" class="form-label">Upload Image</label>
      <input class="form-control" type="file" name="listing[image]" required>
   </div>
     <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input class="form-control" name="listing[price]" required>
        <div class="invalid-feedback">Price should be valid</div>
     </div>
     <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input class="form-control" type="text" name="listing[country]" required>
        <div class="invalid-feedback">Country name should be valid</div>
     </div>
     <div>
        <label for="location" class="form-label">Location</label>
        <input class="form-control" type="text" name="listing[location]" required>
        <div class="invalid-feedback">location should be valid</div>
     </div class="mb-3"><br><br>
        <button class="btn btn-dark offset btn-new-page">Add</button>
    </form>
</body>
</div>
</div>